$primary-color : rgb(32, 32, 32);
$secondary-color: #B0B0B0;
$other-color : rgb(255, 104, 68);
$bg-color : #F8F7FF;
$h2-font : 2.2rem;
$big-font : 4.5rem;
$p-font : 21px;
$p2-font : 18px;
$p3-font : 15px;
$link-color : #07BEB8;