@import "variables";

.sections {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    position: static;
    background: $primary-color;
}

.sections-container {
    color: $secondary-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    h2 {
        color: $other-color;
        font-size: $h2-font;
        padding-bottom: 0.7rem;
    }

    a {
        text-decoration: none;
        color: $link-color;

        &:hover {
            color: $other-color;
        }
    }

    .about-me {
        margin: 4rem 1.7rem 0 5rem;
        text-align: left;
        font-size: $p-font;
    }

    .image {
        margin-top: 5rem;

        img {
            width: 400px;
            border-radius: 1.5rem;
        }
    }
}

@media (max-width: 1050px) {
    .sections {
        height: 120vh;
    }

    .sections-container {
        gap: 2rem;

        .about-me {
            margin: 5rem 3rem;
            margin-right: 2rem;
            text-align: left;
            font-size: $p-font;
        }

        .image {

            img {
                width: 400px;

            }
        }
    }
}

@media (max-width: 768px) {
    .sections {
        height: 220vh;
    }

    .sections-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;

        .image {
            margin: 1rem;

            img {

                width: 500px;

            }
        }
    }
}