@import 'variables';

.header {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 120;
    color: $primary-color;
    transition: all .50s ease;
    padding: 0 10px;
}

.active {
    transition: all .50s ease;
    background: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg, rgba(32, 32, 32, 0.6), rgba(255, 105, 68, 0.613));
    color: $bg-color;

    b {
        color: $bg-color;
    }
}


.header-logo {
    margin-left: 12%;
    margin-right: 10%;
}

.navbar {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    display: flex;

    li {
        list-style: none;
        margin: 1.2rem;

        b {
            text-decoration: none;
            text-transform: uppercase;
            color: $primary-color;

            &:hover {
                color: $primary-color;
            }
        }


    }
}

.changer {
    display: flex;
    margin: 1.5rem;

    .menu {
        cursor: pointer;
        margin-right: 1rem;
        display: none;
    }
}

.closed {
    .close {
        display: none;
        cursor: pointer;
    }

    .close .active {
        color: $primary-color;
    }
}

@media (max-width: 1200px) {
    .header-logo {
        font-size: medium;
    }


}

@media (max-width: 1090px) {
    .header-logo {
        margin: 0 5%;
    }


}

@media (max-width: 970px) {
    .header-logo {
        font-size: small;
    }

}

@media (max-width: 920px) {

    .header {
        justify-content: space-between;
    }

    .navbar {
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        max-height: 0;

        &.open {
            max-height: 500px;
        }
    }

    ul {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;

        li {
            margin-block: 2rem;

            a {
                font-size: 20px;
                color: black;
                font-weight: bold;
            }
        }
    }

    .changer {
        .menu {
            cursor: pointer;
            display: block;
        }
    }

    .closed {
        .close {
            display: block;
        }
    }
}

@media (max-width: 600px) {
    .header {
        font-size: 1rem;
    }

    ul {
        margin: 0 1rem;
    }

    li {
        margin: 1rem;
    }

    .changer {
        margin: 1rem;
    }
}

@media (max-width: 350px) {
    ul {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;

        li {
            margin-block: 2rem;

            a {
                font-size: 18px;
                color: black;
                font-weight: bold;
            }
        }
    }

    .changer {
        .menu {
            display: block;
            margin-right: 0;
        }
    }
}