@import 'variables';

.sections {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    position: static;
    background: $primary-color;
}
.sections-container {
    color: $secondary-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;

    .about-me{
        margin: 0 8rem;
        text-align: left;
    }

    .skills{
        margin: 0 8rem;
        text-align: right;
    }
}
